.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #0D8A6D;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 0.9;
}